
<!-- Define Menu structure -->
<Menu xmlns="http://www.businesscode.de/schema/bcdui/menu-1.0.0" id="gettingStarted" isDefault="true">
  <Entry id="home" caption="Home" href="/" title="start screen"/>
  <Entry id="Intro" caption="Intro">
    <Entry id="bindings" caption="Bindings" href="/binding" title="Click here for Bindings"/>
    <Entry id="simpleRequest" caption="Simple Request" href="/simpleRequest" title="Click here for a Simple Request"/>
    <Entry id="widgets" caption="Widgets" href="/widgets" title="Click here for Widgets">
      <Entry id="menu" caption="Menu" href="/menu" title="Click here for a Menu"/>
    </Entry>
    <Entry id="api" caption="🔒Api" href="/api" title="Login with admin/pw123"/>
  </Entry>
  <Entry id="components" caption="Components">
    <Entry id="exports" caption="Exports" href="/exports" title="Click here for Exports"/>
    <Entry id="minimalCube" caption="Minimal Cube" href="/minimalCube" title="Click here for a Minimal Cube"/>
    <Entry id="cube" caption="🔒 Cube" href="/cube" title="Login with cubeUser/pw456"/>
    <Entry id="charts" caption="Charts" href="/charts" title="Click here for Charts"/>
    <Entry id="scorecard" caption="Scorecard" href="/scorecard" title="Click here for Scorecard"/>
    <Entry id="treeReport" caption="Tree Report" href="/treeReport" title="Click here for Tree Report"/>
    <Entry id="xsltLibrary" caption="XSLT Library" href="/xsltLibrary" title="Click here for XSLT Library"/>
  </Entry>
  <Entry id="logout" caption="Logout" href="/logout" title="Click here to logout"/>
</Menu>
